<p id="notice"><%= notice %></p>

<h1>Listing Inquirers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquirers.each do |inquirer| %>
      <tr>
        <td><%= inquirer.username %></td>
        <td><%= inquirer.email %></td>
        <td><%= link_to 'Show', inquirer %></td>
        <td><%= link_to 'Edit', edit_inquirer_path(inquirer) %></td>
        <td><%= link_to 'Destroy', inquirer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquirer', new_inquirer_path %>
